.App {
  text-align: center;
}

.stock-input-area {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 10vh;
}

.stock-input-area input[type=text] {
  color: #fff;
  background: transparent;
  border-style: none;
  line-height: 3.5rem;
  flex-grow: 1;
  font-size: 1.8rem;
  outline: none;
  text-transform: uppercase;
}

::placeholder {
  font-style: italic;
  text-transform: none;
}

.stock-input-area button {
  background: none;
  border: 1px solid #9b9da1;
  color: #9b9da1;
  line-height: 2.5rem;
  font-size: 1.5rem;
  outline: none;
}

.stock-input-area button:hover {
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  transition: color .25s;
}

.stock-input-area button:disabled {
  border: 1px solid #9b9da1;
  color: #9b9da1;
  cursor: not-allowed;
}

.stock-table {
  align-items: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  line-height: 4;
  font-size: 18px;
}

.stock-table > table {
  width: 100%;
}

.stock-table td {
  width: 33%;
}

.stock-table th {
  width: 33%;
}

.table-header {
  color: #fff;
  background-color: #6c7ae0;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-top: 15px;
}

.remove-stock {
  color: #f32013;
  display: inline-block;
  font-family: monospace;
  font-size: 1.5rem;
  opacity: 0.5;
  padding: 0.5rem;
}

.remove-stock:hover {
  cursor: pointer;
  opacity: 1;
  transform: rotate(180deg);
  transition: all .25s ease-in;
}

table {
  border-collapse: collapse;
  border: 1px solid #b6b6ea;
}

tbody tr:nth-child(even) {
  background-color: #b6b6ea;
}
